adrian.ovpn
__pycache__
*_proof.py
logs
photo_mickey.jpg
photo_minnie.jpg
adrien.ovpn
poisition.json
*.jpg
*.png
test.py
TODO

!ambigus.png
!global.jpg
!orientation.png
!pos1.jpg
!PXL_20240722_063246247.jpg
!PXL_20240722_063307001.jpg